<div class="jumbotron" style="position:relative;">
    <div class="text-center">
        <h1 class="dispaly-4">Mariem Louhichi</h1>
        <h1>Telecommunication Engineering Studient</h1>

    </div>
    <div style="position:absolute;bottom:5px;right:10px;">

        <a href="www.linkedin.com/in/mariem-louhichi-012665271" target="_blank">
            <img src="../../assets/linkedin.webp" width="24"height="24" class="rounded-cercle me-2">
            
        </a>

        <a href="https://github.com" target="_blank">
            <img src="../../assets/git.png" width="24"height="24" class="rounded-cercle me-2">
            
        </a>


    </div>

</div>
