<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <accordion>
        <accordion-group heading="Work Experience">
            <div style="text-align: center;">
                <h3>July 2023–August 2023 • SiFast • DevOps/Cloud</h3>
                <h6>Sfax, Tunisia</h6>
                <hr>
                <h4>Mission : </h4>
                <h5 >Implementation and configuration of OpenStack, with automation of resource 
                provisioning.</h5>
                <hr>
                <h4>Tasks : </h4>
                <h5>- Implementation and configuration of OpenStack on-prem and on Azure Cloud.</h5>
                <h5>- Automation of virtual machine provisioning and other types of resources on OpenStack with 
                Terraform</h5>
                <h5>- Creation of a CI/CD pipeline using "GitLab CI" to provision and manage Terraform 
                resources on the OpenStack cloud.</h5>
            </div>

            <hr>
            <hr>

            <div style="text-align: center;">
                <h3>January 2023-Mai 2023 • DevOps/Cloud/Security • PFA</h3>
                <h6>Sfax, Tunisia</h6>
                <hr>
                <h4>Mission : </h4>
                <h5 > Configure the SIEM solution "Azure Sentinel" to detect and visualize attacks on a virtual 
                    machine created and configured on the "Azure" cloud using DevOps technologies.</h5>
                <hr>
                <h4>Tasks : </h4>
                <h5>- Automate the provisioning of a virtual machine and its associated networking on Azure using 
                    Terraform.</h5>
                <h5>- Create a Git repo on GitHub that contains the Terraform source code.</h5>
                <h5>- Creation of a CI/CD pipeline using "GitLab CI" to provision and manage Terraform 
                resources on the OpenStack cloud.</h5>
                <h5>- Make the VM vulnerable and discoverable on the internet with terraform.</h5>
                <h5>- Create and configure the Log Analytics workspace on Azure.</h5>
                <h5>- Configure Azure Sentinel.</h5>
                <h5>- Use and visualize application logs with Azure Sentinel</h5>
            </div>
            <hr>
            <hr>

            <div style="text-align: center;">
                <h3>July 2022• IOT • Telnet</h3>
                <h6>Sfax, Tunisia</h6>
                <hr>
                <h4>Mission : </h4>
                <h5 >Development of scripts to calibrate and control a robot for an electronic payment 
                    application.</h5>
                
            </div>



        </accordion-group>

        <accordion-group heading="Education">
            <div style="text-align: center;">

            <h4>2021 - present </h4>
            <h4>Telecommunications Engineering</h4>
            <h5>National School of Electronics and 
                Telecommunications (ENET’COM Sfax)</h5>

            </div>

            <hr>
            <hr>

            <div style="text-align: center;">

                <h4>2019 - 2021 </h4>
                <h4>Preparatory Cycle</h4>
                <h5>Preparatory Institute for Engineering Studies (IPEIS)
                </h5>
    
            </div>
            <hr>
            <hr>

            <div style="text-align: center;">

                <h4>2018 - 2019 </h4>
                <h4>Bachelor's degree in Mathematics</h4>
                <h5>July 25, 1957 High School
                </h5>
    
            </div>


        </accordion-group>

        <accordion-group heading="Skills">
            <div style="text-align: center;">
                <h4>DevOps Tools and Technologies :</h4>
                <h5>CI/CD (GitLab CI, Azure DevOps), OpenStack, Azure Cloud, 
                    Azure Sentinel(SIEM), Git, GitHub, Docker, Terraform, Ansible, Bash, Jira.</h5>

            </div>

            <hr>
            <hr>

            <div style="text-align: center;">
                <h4>Network Administration :</h4>
                <h5>: DHCP, DNS, Active Directory, VirtualBox, Matlab, Packet Tracer Cisco, 
                    eNSP Huawei, Hyper V, VMware.</h5>

            </div>
            <hr>
            <hr>

            <div style="text-align: center;">
                <h4>Tools and Programming Languages :</h4>
                <h5>Python, Java/JEE, PHP, Yaml, SQL, JavaScript, G-Code, 
                    Arduino, Eclipse, VS code, PyCharm.</h5>

            </div>
            <hr>
            <hr>

            <div style="text-align: center;">
                <h4>SGBD and modeling :</h4>
                <h5>MySQL, Oracle BD, UML, Star UML.
                </h5>

            </div>
            <hr>
            <hr>

            <div style="text-align: center;">
                <h4>Agile methodologies :</h4>
                <h5>Scrum, Kanban, Jira.
                </h5>

            </div>

        </accordion-group>

        
    </accordion>
</div>